<div class="well form_tweet">
<%=form_for(@tweet, :html => { :class => 'form-horizontal' } ) do |f| %> 
    <div class="control-group">
      <%= f.label :content, "*Compose new tweet:", :class => "control-label"%>
      <div class="controls">
    <%= f.text_area :content, :placeholder => 'Compose new tweet....', :class => "input-xxlarge", :rows => 6 %>
      </div>
    </div>
    <div class="control-group">
    <%= f.label :tweet_time, "Set Time :", :class => "control-label" %>
     <div class="controls">
    <%= f.datetime_select(:tweet_time,:default => DateTime.now,:ampm => true)%>
    </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "Schedule", :class => "btn" %>
      </div>
    </div>
<% end %>
</div>
