<%= form_for tweet, :html => { :class => 'form-horizontal new-tweet-form' },:remote => true do |f| %> 
  <div class="modal-header">  
    New Post
    <a class="close" data-dismiss="modal">×</a>  
  </div> 
  <div class="modal-body">  
    <div class="control-group">
      <%= f.label :content, "*Compose new post:", :class => "control-label"%>
      <div class="controls">
        <%= f.text_area :content, :placeholder => 'Compose new post....', 
        :class => "input-xlarge", :rows => 6 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tweet_time, "Set Time :", :class => "control-label" %>
      <div class="controls input-prepend">
        <span class="add-on"><i class="icon-time"></i></span>
        <%= f.text_field :tweet_time, :placeholder => 'Select Time to share', 
        :class => "input-xlarge", :id => "date-time" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputadmin">Select where to post:</label>

      <div class="controls">
        <%=check_box_tag 'twitter'%>&nbsp;Twitter &nbsp;
        <%=check_box_tag 'facebook'%>&nbsp;Facebook &nbsp;
        <%=check_box_tag 'linkedin'%>&nbsp;Linkedin
      </div>
    </div>
  </div>
  <div class="modal-footer">  
  <%= f.submit "Post", class:'btn btn-success submit-btn' %> 
  <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>  
<% end %>