
<%if @tweets.size > 0%>
  <table class="table table-striped">
    <tr>
      <td>Tweet</td>
      <td>Scheduled At</td>
      <td>Status</td>
      <td>Action</td>
    </tr>  
    <% @tweets.each do |item| %>
      <tr>
        <td><%= link_to "#{item.content.truncate(100)}", tweet_path(item)%></td>
        <td><%= item.post_time.to_formatted_s(:long) %></td>
        <td><%= status(item) %></td>
        <td>
          <a data-toggle="modal" href=<%= "#myModal_#{item.id}" %>  ><i class="icon-edit"></i></a>&nbsp;
          <%= link_to "<i class='icon-remove'></i>".html_safe,tweet_path(item), :method => :delete %></a>
        </td>
      </tr>

          <div class="modal hide fade in" id="myModal_<%=item.id%>">
           <%#= render :partial => "form", :locals => {:tweet => item} %> </div>
    <% end %>  
  </table>
<%else%>
    <div class='alert alert-block'>
    There are no scheduled tweets. 
  </div>
<% end %> 
