<div class= "formInput">
	<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="remember"><%= f.check_box :remember_me %> Remember me <span class="divider">|</span><%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%></div>
  <% end -%>

  <div class="sbutton"><%= f.submit "Sign in" %></div>
<% end %>
</div>
<%= render "devise/shared/links" %>
