<!DOCTYPE html>
<html>
<head>
  <title>ShareOnSchedule</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render :partial => "shared/header" %>
  <div>&nbsp;</div>
  <div class="row">
    <div class="span9">
      <%= yield %>
      &nbsp;
    </div>
    <div class="span3 sidebar">
        <%= yield :sidebar %>
    </div>
  </div>
  <hr>
  <%= render :partial => "shared/footer" %>
</div>
</body>
</html>