<!DOCTYPE html>
<html>
<head>
  <title>ShareOnSchedule</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: u75dvcqku00k 
  authorize: true
</script>
</head>
<body>
	<% if user_signed_in? %>
		Logged in as <%= current_user.email %>
		<%= link_to 'edit profile', edit_user_registration_path %>
		<%= link_to 'logout', destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to 'sign up', new_user_registration_path %>
		<%= link_to 'sign in', new_user_session_path %>
		<%= link_to 'sign in with facebook', user_omniauth_authorize_path(:facebook) %>
	<% end %>
<%= yield %>
</body>
</html>