<!DOCTYPE html>
<html>
<head>
  <title>ShareOnSchedule</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>

</head>
<body>
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=194409730684271";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <meta property="og:title" content="ShareOnSchedule" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://www.shareonschedule.com/" />
      <meta property="og:image" content="" />
      <meta property="og:site_name" content="" />
      <meta property="fb:app_id" content="194409730684271" />
  <div class="container">
  <%= render :partial => "shared/header" %>
  <div>&nbsp;</div>
  <div class="row">
      <%= yield %>
  </div>
    <hr>
    <%= render :partial => "shared/footer" %>
  </div>
 
</body>
</html>